.c-pagination {
    margin: 40px auto;
    

    &__button{
        margin: 5px;
        padding: 15px;
        background: linear-gradient(45deg,  rgb(60, 248, 143) ,rgb(132, 238, 178) );
        border: none;
       

        &:hover{
        background:  rgb(61, 243, 140);
            
        }

        &:active {
            background: linear-gradient(to bottom,  rgb(60, 248, 143) ,rgb(132, 238, 178) );
        }
    }

    & span {
        padding: 15px;
        font-size: 22px;
    }
}