.c-header{
    background: #000000d2;
    width: 100vw;
    height: 85px;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed;
    top: 0; 
    

    &__nav{
        display: flex;
        justify-content: center; 
        align-items: center;       
        
        
        &--a {
            margin: 15px;
            text-decoration: none;
            font-weight:  bold;
            color: aqua;
            padding: 8px 0px;
            font-size: calc(6px + 2vmin);            
            text-transform: uppercase;            

            &.active {
                padding-top: 10px;
                border-bottom: 2px solid rgb(214, 119, 216);               
            }            
        }      
    }
}