.c-header{
    background: #000000;
    width: 100vw;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed;
    top: 0;   
    

    &__nav{
        display: flex;
        justify-content: center; 
        align-items: center;       
        
        
        &--a {
            margin: 15px;
            text-decoration: none;
            font-weight:  bold;
            color: aqua;
            padding: 8px 0px;
            font-size: 18px;
            text-transform: uppercase;

            &:hover {
               // padding-top: 10px;
                color: whitesmoke;
                //border-bottom: 2px solid aqua;

            }

            &.active {
                border-bottom: 2px solid aqua;
                color: whitesmoke;
            }
            
        }      
    }
}