@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Luxurious+Roman&display=swap');

body {
  margin: 0;
  padding: 0;  
  /* background: rgb(30, 30, 30);
  color: whitesmoke; */
  padding-top: 100px;
  font-family:"Time News Roman" "Balsamiq Sans", "sans-serif", 'Courier New';
  text-align: center;  
}
